In [1]:
import pandas as pd
import folium
from geopy.geocoders import Nominatim

In [2]:
df = pd.read_csv("C:/Users/samka/Downloads/NTAD_National_Bridge_Inventory_-6282134062105639862.csv")
df

C:\Users\samka\AppData\Local\Temp\ipykernel_1796\740946750.py:1: DtypeWarning: Columns (2,6,8,18,32,37,39,40,72,74,76,97,99,103,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/samka/Downloads/NTAD_National_Bridge_Inventory_-6282134062105639862.csv")

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
0,1,1,00000000000S702,1,6,1,04007,0,9,53,...,62,F,5,145.50,ST,723,31.103039,-87.570411,-87.570411,31.103039
1,2,1,00000000000S703,1,6,1,04003,0,9,53,...,62,F,6,133.28,ST,723,31.105611,-87.569139,-87.569139,31.105611
2,3,1,0000000000M0022,1,8,1,00000,0,0,113,...,74,F,5,387.00,ST,723,32.295361,-84.977219,-84.977219,32.295361
3,4,1,000000883039900,1,4,1,00088,0,2,59,...,67,G,7,687.75,AM,1202,34.454228,-87.975517,-87.975517,34.454228
4,5,1,000001014002450,1,3,1,00101,0,2,79,...,67,F,5,15453.36,MM,403,34.813317,-87.382372,-87.382372,34.813317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621576,621577,78,STX7310,1,4,1,00000,0,0,10,...,78,F,6,499.59,ST,723,17.751406,-64.787792,-64.787792,17.751406
621577,621578,78,STX73205,1,4,1,00000,0,0,10,...,78,F,6,1183.38,ST,723,17.753956,-64.779389,-64.779389,17.753956
621578,621579,78,STX7520,1,4,1,00000,0,0,10,...,78,G,7,142.79,ST,723,17.699436,-64.756333,-64.756333,17.699436
621579,621580,78,STX8001,1,4,1,00000,0,0,10,...,78,F,5,60.72,ST,723,17.758781,-64.765072,-64.765072,17.758781
621580,621581,78,STX8205,1,4,1,00000,0,0,10,...,78,F,5,116.62,ST,723,17.745164,-64.686150,-64.686150,17.745164

In [3]:
df = pd.read_csv("C:/Users/samka/Downloads/NTAD_National_Bridge_Inventory_-6282134062105639862.csv", low_memory=False)
bridge_df = df[(df['STATE_CODE_001'] == 42) & (df['COUNTY_CODE_003'] == 101)]
bridge_df

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
452996,452997,42,000000000007193,1,3,1,00000,0,06,101,...,42,G,7,237.90,AM,1202,40.103450,-74.961092,-74.961092,40.103450
466359,466360,42,000000000038303,1,2,1,00001,0,06,101,...,42,F,5,548.17,ST,723,39.989944,-75.250461,-75.250461,39.989944
466360,466361,42,000000000038305,1,2,1,00001,0,06,101,...,42,P,4,478.17,AM,1202,40.000700,-75.227539,-75.227539,40.000700
466361,466362,42,000000000038310,1,2,1,00001,3,06,101,...,42,F,5,749.47,AM,403,40.006661,-75.199589,-75.199589,40.006661
466362,466363,42,000000000038311,1,2,1,00001,1,06,101,...,42,F,5,7983.20,MM,403,40.007103,-75.192278,-75.192278,40.007103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,42,000000000057500,1,1,1,00095,1,06,101,...,42,G,8,5316.32,ST,723,39.971314,-75.123447,-75.123447,39.971314
472558,472559,42,000000000057682,1,5,0,00000,0,06,101,...,42,G,7,367.84,ST,723,39.942597,-75.211397,-75.211397,39.942597
472680,472681,42,000000000067832,1,3,1,00000,0,06,101,...,42,G,8,255.36,ST,723,40.058022,-75.195347,-75.195347,40.058022
472724,472725,42,000000000067987,1,3,1,00000,0,06,101,...,42,G,8,1672.65,ST,723,39.998933,-75.086278,-75.086278,39.998933
472949,472950,42,000000000069671,1,5,6,00737,0,06,101,...,42,F,5,1505.00,ST,723,39.893306,-75.191028,-75.191028,39.893306

In [ ]:
bridge_df = bridge_df[["OBJECTID", "LATDD", "LONGDD", "YEAR_BUILT_027", "OWNER_022", "MAINTENANCE_021", "BRIDGE_CONDITION", "BRIDGE_IMP_COST_094", "ROADWAY_IMP_COST_095", "TOTAL_IMP_COST_096", "YEAR_RECONSTRUCTED_106", "DECK_WIDTH_MT_052", "STRUCTURE_LEN_MT_049", "STATE_CODE_001", "COUNTY_CODE_003"]]
bridge_df

In [ ]:
print("Shape Before Deleting Missing Values:", bridge_df.shape)
print("Missing Values Before Deleting:\n" + str(bridge_df.isnull().sum()), "\n")
rows_with_nan = bridge_df[bridge_df.isnull().any(axis=1)]
print("Rows with NaN values:")
print(rows_with_nan)

In [ ]:
bridge_df.columns = ["Bridge ID",
"Latitude",
"Longitude",
"Year Built",
"Owner",
"Maintenance",
"Bridge Condition",
"Bridge Improvement Cost",
"Roadway Improvement Cost",
"Total Improvement Cost",
"Year Reconstructed",
"Deck Width",
"Structure Length",
"PA",
"Philadelphia"]

In [ ]:
filtered_df

In [ ]:
bridge_df = bridge_df[["Bridge ID",
"PA",
"Philadelphia",                          
"Latitude",
"Longitude",
"Year Built",
"Owner",
"Maintenance",
"Bridge Condition",
"Bridge Improvement Cost",
"Roadway Improvement Cost",
"Total Improvement Cost",
"Year Reconstructed",
"Deck Width",
"Structure Length"]]

In [ ]:
bridge_df

In [ ]:
bridge_df.to_csv("bridge_data.csv", index=False)

In [ ]:
# good_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'G']
# good_bridges_df

In [ ]:
# m = folium.Map([40.10345, -74.961092], zoom_start=11)



# # Iterate over the "Good" bridges DataFrame and add markers to the map
# for index, row in good_bridges_df.iterrows():
#     folium.Marker(
#     location=[row['Latitude'], row['Longitude']],
#     popup=f"Bridge {index}", 
#     icon=folium.Icon(color="green"),
#     ).add_to(m)
# m

# # Show the map in a browser
# #m.save("good_bridges_map.html")

In [ ]:
# fair_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'F']
# fair_bridges_df

In [ ]:
# m = folium.Map([40.10345, -74.961092], zoom_start=11)



# # Iterate over the "Good" bridges DataFrame and add markers to the map
# for index, row in fair_bridges_df.iterrows():
#     folium.Marker(
#     location=[row['Latitude'], row['Longitude']],
#     popup=f"Bridge {index}", 
#     icon=folium.Icon(color="orange"),
#     ).add_to(m)

# m    
# # Show the map in a browser
# #m.save("fair_bridges_map.html")

In [ ]:
# poor_bridges_df = filtered_df[filtered_df['Bridge Condition'] == 'P']
# poor_bridges_df

In [ ]:
#bridge_df

In [ ]:
# geoLoc = Nominatim(user_agent="GetLoc")
# locname = geoLoc.reverse("39.963467, -75.186778")
# print(locname.address)

In [ ]:
# geolocator = Nominatim(user_agent="bridge_address")
# def reverse_geocode(row):
#     location = geolocator.reverse((row["Latitude"], row['Longitude']), exactly_one=True)
#     if location:
#         return location.address
#     else:
#         return "N/A"
# #Add in Address column with reverse geocode data
# filtered_df["Address"] = filtered_df.apply(reverse_geocode, axis=1)
# filtered_df