In [1]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd

In [2]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Bridge_db")
conn = engine.connect()

In [3]:
df = pd.read_sql("SELECT * from bridges",conn)
df.head()

,bridge_id,latitude,longitude,year_built,bridge_condition,average_daily_traffic,deck_width,structure_length,sqft,repair_cost_est,replacement_cost_est,address
0,452997,40.103450,-74.961092,1990,Good,9729,13.0,18.3,237.90,"$74,700.60","$109,852.70","Dunksferry Road, Mechanicsville, 19020"
1,466574,40.017092,-75.211428,1928,Fair,14596,19.2,32.9,631.68,"$198,347.52","$291,684.56","Ridge Avenue, Wissahickon, 19127"
2,466580,39.963467,-75.186778,1964,Poor,27042,16.1,167.0,2688.70,"$844,251.80","$1,241,534.11","Spring Garden Street, Mantua, 19104"
3,466581,39.963861,-75.185025,1964,Poor,27042,16.2,27.1,439.02,"$137,852.28","$202,721.88","2917, Spring Garden Street, Mantua, 19104"
4,466617,40.035356,-75.208878,1957,Fair,28301,20.7,115.2,2384.64,"$748,776.96","$1,101,131.37","Henry Avenue, 19127"

In [5]:
query = "SELECT COUNT (*) FROM bridges;"
result = pd.read_sql_query(query, engine)
result

   count
0    158