In [1]:
import pandas as pd
from pathlib import Path

In [2]:
bridge_df = pd.read_csv("Cleaned_Bridge_df.csv")

In [4]:
#Filter the data frame to get the traffic volume and coordinates for only the poor condition bridges

poor_traffic = bridge_df.loc[bridge_df["Bridge_Condition"] == "Poor", ["Bridge_ID", "Latitude", "Longitude", "Bridge_Condition", "Average Daily_Traffic", "Repair_Cost_Est", "Replacement_Cost_Est"]]

# poor_traffic

In [5]:
priority_bridges = poor_traffic.loc[bridge_df["Average Daily_Traffic"] >= 10000, ["Bridge_ID", "Latitude", "Longitude", "Bridge_Condition", "Average Daily_Traffic", "Repair_Cost_Est", "Replacement_Cost_Est"]] 

priority_bridges

,Bridge_ID,Latitude,Longitude,Bridge_Condition,Average Daily_Traffic,Repair_Cost_Est,Replacement_Cost_Est
2,466580,39.963467,-75.186778,Poor,27042,"$844,251.80","$1,241,534.11"
3,466581,39.963861,-75.185025,Poor,27042,"$137,852.28","$202,721.88"
5,466638,40.005244,-75.131928,Poor,14600,"$152,274.30","$223,930.51"
10,466643,40.014492,-75.178256,Poor,10000,"$202,062.14","$297,147.18"
15,466648,40.016050,-75.175225,Poor,13600,"$156,296.64","$229,845.66"
29,466663,40.012808,-75.117725,Poor,21000,"$131,880.00","$193,939.20"
42,466677,40.007742,-75.197811,Poor,18650,"$677,062.50","$995,670.00"
48,466683,40.031056,-75.111125,Poor,11000,"$258,108.00","$379,566.72"
53,466688,39.922869,-75.219564,Poor,20000,"$170,323.02","$250,472.48"
70,466705,40.090203,-75.069367,Poor,10700,"$145,495.04","$213,961.11"
72,466707,39.919033,-75.239531,Poor,10200,"$187,621.28","$275,910.84"
91,466739,40.076092,-75.054808,Poor,10000,"$93,066.46","$136,861.05"
99,466747,40.079247,-75.225467,Poor,12200,"$53,166.48","$78,185.20"
121,466770,40.114836,-75.005350,Poor,20000,"$109,943.96","$161,680.65"
131,466781,39.964756,-75.184547,Poor,25095,"$924,478.80","$1,359,513.79"

In [6]:
priority_bridges.to_csv("priority_bridges.csv", index=False)

In [7]:
priorities_df = pd.read_csv("priority_bridges.csv")

priorities_df

,Bridge_ID,Latitude,Longitude,Bridge_Condition,Average Daily_Traffic,Repair_Cost_Est,Replacement_Cost_Est
0,466580,39.963467,-75.186778,Poor,27042,"$844,251.80","$1,241,534.11"
1,466581,39.963861,-75.185025,Poor,27042,"$137,852.28","$202,721.88"
2,466638,40.005244,-75.131928,Poor,14600,"$152,274.30","$223,930.51"
3,466643,40.014492,-75.178256,Poor,10000,"$202,062.14","$297,147.18"
4,466648,40.016050,-75.175225,Poor,13600,"$156,296.64","$229,845.66"
5,466663,40.012808,-75.117725,Poor,21000,"$131,880.00","$193,939.20"
6,466677,40.007742,-75.197811,Poor,18650,"$677,062.50","$995,670.00"
7,466683,40.031056,-75.111125,Poor,11000,"$258,108.00","$379,566.72"
8,466688,39.922869,-75.219564,Poor,20000,"$170,323.02","$250,472.48"
9,466705,40.090203,-75.069367,Poor,10700,"$145,495.04","$213,961.11"
10,466707,39.919033,-75.239531,Poor,10200,"$187,621.28","$275,910.84"
11,466739,40.076092,-75.054808,Poor,10000,"$93,066.46","$136,861.05"
12,466747,40.079247,-75.225467,Poor,12200,"$53,166.48","$78,185.20"
13,466770,40.114836,-75.005350,Poor,20000,"$109,943.96","$161,680.65"
14,466781,39.964756,-75.184547,Poor,25095,"$924,478.80","$1,359,513.79"