In [1]:
import pandas as pd
import pprint
from pathlib import Path

In [2]:
csv = pd.read_csv("NTAD_National_Bridge_Inventory_-6282134062105639862.csv")
philly_df = csv[(csv["STATE_CODE_001"] == 42) & (csv["COUNTY_CODE_003"] == 101)]
philly_df

/var/folders/xb/9yf9xtb12zn2ly4v3jjr252h0000gn/T/ipykernel_36543/503638132.py:1: DtypeWarning: Columns (2,6,8,18,32,37,39,40,72,74,76,97,99,103,108,109) have mixed types. Specify dtype option on import or set low_memory=False.
  csv = pd.read_csv("NTAD_National_Bridge_Inventory_-6282134062105639862.csv")

,OBJECTID,STATE_CODE_001,STRUCTURE_NUMBER_008,RECORD_TYPE_005A,ROUTE_PREFIX_005B,SERVICE_LEVEL_005C,ROUTE_NUMBER_005D,DIRECTION_005E,HIGHWAY_DISTRICT_002,COUNTY_CODE_003,...,SUBMITTED_BY,BRIDGE_CONDITION,LOWEST_RATING,DECK_AREA,STATUS,DATE,LATDD,LONGDD,x,y
452996,452997,42,7193,1,3,1,00000,0,6,101,...,42,G,7,237.90,AM,1202,40.103450,-74.961092,-74.961092,40.103450
466359,466360,42,38303,1,2,1,00001,0,6,101,...,42,F,5,548.17,ST,723,39.989944,-75.250461,-75.250461,39.989944
466360,466361,42,38305,1,2,1,00001,0,6,101,...,42,P,4,478.17,AM,1202,40.000700,-75.227539,-75.227539,40.000700
466361,466362,42,38310,1,2,1,00001,3,6,101,...,42,F,5,749.47,AM,403,40.006661,-75.199589,-75.199589,40.006661
466362,466363,42,38311,1,2,1,00001,1,6,101,...,42,F,5,7983.20,MM,403,40.007103,-75.192278,-75.192278,40.007103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
472437,472438,42,000000000057500,1,1,1,00095,1,6,101,...,42,G,8,5316.32,ST,723,39.971314,-75.123447,-75.123447,39.971314
472558,472559,42,000000000057682,1,5,0,00000,0,6,101,...,42,G,7,367.84,ST,723,39.942597,-75.211397,-75.211397,39.942597
472680,472681,42,000000000067832,1,3,1,00000,0,6,101,...,42,G,8,255.36,ST,723,40.058022,-75.195347,-75.195347,40.058022
472724,472725,42,000000000067987,1,3,1,00000,0,6,101,...,42,G,8,1672.65,ST,723,39.998933,-75.086278,-75.086278,39.998933
472949,472950,42,000000000069671,1,5,6,00737,0,6,101,...,42,F,5,1505.00,ST,723,39.893306,-75.191028,-75.191028,39.893306

In [3]:
philly_df.columns

Index(['OBJECTID', 'STATE_CODE_001', 'STRUCTURE_NUMBER_008',
       'RECORD_TYPE_005A', 'ROUTE_PREFIX_005B', 'SERVICE_LEVEL_005C',
       'ROUTE_NUMBER_005D', 'DIRECTION_005E', 'HIGHWAY_DISTRICT_002',
       'COUNTY_CODE_003',
       ...
       'SUBMITTED_BY', 'BRIDGE_CONDITION', 'LOWEST_RATING', 'DECK_AREA',
       'STATUS', 'DATE', 'LATDD', 'LONGDD', 'x', 'y'],
      dtype='object', length=130)

In [4]:
philly_df = philly_df[["LATDD", "LONGDD", "YEAR_BUILT_027", "OWNER_022", "MAINTENANCE_021", "BRIDGE_CONDITION", 
                       "BRIDGE_IMP_COST_094", "ROADWAY_IMP_COST_095", "TOTAL_IMP_COST_096", 
                       "YEAR_RECONSTRUCTED_106"]]
philly_df

,LATDD,LONGDD,YEAR_BUILT_027,OWNER_022,MAINTENANCE_021,BRIDGE_CONDITION,BRIDGE_IMP_COST_094,ROADWAY_IMP_COST_095,TOTAL_IMP_COST_096,YEAR_RECONSTRUCTED_106
452996,40.103450,-74.961092,1990,4,4,G,0.0,0.0,0.0,0.0
466359,39.989944,-75.250461,1935,1,27,F,86.0,252.0,1156.0,0.0
466360,40.000700,-75.227539,1910,1,1,P,25.0,72.0,332.0,0.0
466361,40.006661,-75.199589,1953,1,1,F,0.0,0.0,0.0,1989.0
466362,40.007103,-75.192278,1960,1,1,F,605.0,1782.0,8168.0,NaN
...,...,...,...,...,...,...,...,...,...,...
472437,39.971314,-75.123447,2019,1,1,G,NaN,NaN,NaN,NaN
472558,39.942597,-75.211397,2020,27,27,G,NaN,NaN,NaN,NaN
472680,40.058022,-75.195347,2020,1,1,G,NaN,NaN,NaN,NaN
472724,39.998933,-75.086278,2021,1,1,G,NaN,NaN,NaN,NaN
472949,39.893306,-75.191028,1941,26,26,F,NaN,NaN,NaN,2003.0

In [6]:
philly_df.dtypes

LATDD                     float64
LONGDD                    float64
YEAR_BUILT_027              int64
OWNER_022                   int64
MAINTENANCE_021             int64
BRIDGE_CONDITION           object
BRIDGE_IMP_COST_094       float64
ROADWAY_IMP_COST_095      float64
TOTAL_IMP_COST_096        float64
YEAR_RECONSTRUCTED_106    float64
dtype: object

In [5]:
philly_df.to_csv("Philadelphia Cleaned DOT Data", index=False)